# Arquivos compilados
bin/
*.class
*.jar

# Arquivos de IDE
.idea/
.vscode/
*.iml
.project
.classpath
.settings/

# Arquivos de banco de dados
*.db
*.sqlite
*.sqlite3

# Arquivos de log
*.log

# Arquivos temporários
*.tmp
*.temp
*~

# Dependências
lib/